* {
  /* border: 1px solid grey; */
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
}
html {
  height: 100%;
}
body {
  height: 100%;
  /* background-image: url(../assets/welcome.jpg); */
  /* background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navBar {
  font-weight: 600;
  color: rgb(233, 233, 233);
  border-radius: 2px;
  padding: 15px;
  background-color: #3f5efb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(148, 80, 255);
  background: linear-gradient(
    90deg,
    rgba(148, 80, 255, 1) 0%,
    rgba(169, 67, 219, 1) 47%,
    rgba(165, 48, 223, 1) 78%
  );
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page {
  transition: text-decoration-color 500ms, text-underline-offset 500ms;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  text-underline-offset: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  margin-right: 45px;
  font-size: larger;
}

.appName {
  color: rgb(233, 233, 233);
  flex-direction: column;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  font-size: xx-large;
}
.appName:hover {
  color: white;
  cursor: pointer;
}

.page:hover {
  color: white;
  cursor: pointer;
  text-decoration-color: rgb(255, 255, 255);
}

.items {
  display: flex;
  flex-direction: row;
}

.material-icons {
  margin-left: 10px;
  color: rgb(233, 233, 233);
  cursor: pointer;
  font-size: 35px;
}
.material-icons:hover {
  color: white;
}

a {
  text-decoration: none;
  color: rgb(233, 233, 233);
}

footer {
  padding: 10px;
  background: rgb(114, 65, 194);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.data {
  width: fit-content;
}

.centerv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name {
  font-size: xx-large;
  margin: 10px;
}
